@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-grey: hsl(0, 0%, 55%);
  --very-dark-grey: hsl(0, 0%, 41%);
  --alata-font: "Alata", sans-serif;
  --josefin-font: "Josefin Sans", sans-serif;
  --fw-300: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--alata-font);
}
